.aux-nav {
  flex-shrink: 0;
  flex-basis: auto;

  width: 100%;
}

.aux-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  @include fix-list();
}

.aux-nav__item {
  flex-shrink: 0;
  flex-basis: auto;

  width: 50%;

  &--sitemap {
    order: 1;

    margin-left: 50%;
  }

  &--shop {
    order: 2;
  }

  &--service {
    order: 3;
  }

  &--delivery {
    order: 4;
  }

  &--contacts {
    order: 5;
  }

  &:nth-child(n+6) {
    order: 6;
  }
}

.aux-nav__link {
  display: inline-block;
  padding: 0.778em 0.833em 0.444em;

  font-size: 1.125em;
  line-height: 1.167em;
  text-decoration: none;
  vertical-align: top;
  color: inherit;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    text-decoration: underline;

    @include hover-transition();
  }

  &[href]:active {
    text-decoration: none;
    text-shadow: 0 0 1px $body-bg-color;

    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) {
  .aux-nav {
    padding: 0 0.938em;
  }

  .aux-nav__list {
    justify-content: center;
  }

  .aux-nav__item {
    width: auto;

    &--sitemap {
      order: 0;

      margin-left: 0;
    }

    &--shop {
      order: 0;
    }

    &--service {
      order: 0;
    }

    &--delivery {
      order: 0;
    }

    &--contacts {
      order: 0;
    }

    &:nth-child(n+6) {
      order: 0;
    }
  }

  .aux-nav__link {
    max-width: 7.333em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
