.button {
  display: block;
  padding: 1.25em 0.75em 1.313em;

  font-family: $body-font-family-700-800;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  color: $body-bg-color;

  background-color: $body-color;
  border: 0.125em solid transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $body-color;

    background-color: $body-bg-color;
    border-color: $body-color;
    box-shadow: 0.3em 0.3em 0 $jeans-color;

    @include hover-transition();
  }

  &:active {
    color: $body-bg-color;

    background-color: $body-color;
    border-color: transparent;
    box-shadow: none;
    opacity: 0.8;
  }

  &--call {
    width: 12.75em;
  }

  &--collection {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;

    width: 51.034%;
    padding-top: 1.063em;
    padding-bottom: 1.125em;
  }

  &--products {
    width: 61.034%;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--call {
      width: 13.688em;
    }

    &--collection {
      align-self: flex-start;

      width: 58.2677%;
    }

    &--products {
      width: calc(33.333% - 1.875em);
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--collection {
      width: 12.5em;
      padding-top: 1.25em;
      padding-bottom: 1.313em;
    }

    &--products {
      width: 12.5em;
    }
  }
}
