.collection {
  background-image: repeating-linear-gradient(135deg, $body-bg-color 0%, $body-bg-color 0.875em, $faded-color 0.875em, $faded-color 1em);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 0;

    padding-bottom: 70.625%;

    background-image: url("../img/collection-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    background-color: #bcc4d1;
  }
}

.collection__inner {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0.938em 1.875em 0;

  &::before {
    content: "";

    position: absolute;
    top: 0.938em;
    left: 0.938em;
    right: 0.938em;
    bottom: 0;

    background-color: $second-bg-color;
  }
}

.collection__title {
  position: relative;
  z-index: 5;

  flex-shrink: 0;
  flex-basis: auto;

  margin-top: 0;
  margin-bottom: 0.923em;

  font-weight: bold;
  font-size: 1.625em;
  line-height: 1.154em;
  text-align: center;
}

.collection__description {
  position: relative;
  z-index: 5;

  flex-shrink: 0;
  flex-basis: auto;
  order: -1;

  margin-top: 2em;
  margin-bottom: 0.111em;

  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.167em;
  text-align: center;
}

.collection__button {
  position: relative;
  z-index: 5;

  flex-shrink: 0;
  flex-basis: auto;

  margin: 0 auto;
  margin-bottom: 2.5em;
}

@media (min-width: $tablet-width) {
  .collection {
    display: flex;

    margin: 0 2.813em;

    background-image: repeating-linear-gradient(135deg, $body-bg-color 0%, $body-bg-color 1.063em, $faded-color 1.063em, $faded-color 1.188em);

    &::after {
      flex-shrink: 0;
      flex-basis: auto;
      order: -1;
      align-self: center;

      width: 52.2123%;
      padding-bottom: 42.3303%;

      background-image: url("../img/collection-tablet.jpg");
    }
  }

  .collection__inner {
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: center;

    width: 47.7876%;
    padding: 1.25em;
    padding-left: 0;

    &::before {
      top: 1.25em;
      left: 0;
      right: 1.25em;
      bottom: 1.25em;
    }
  }

  .collection__title {
    margin-bottom: 1em;
    padding-left: 16.4473%;
    padding-right: 10.8024%;

    font-size: 2em;
    line-height: 1.188em;
    text-align: left;
  }

  .collection__description {
    margin-top: 2.056em;
    padding-left: 16.4473%;
    padding-right: 10.8024%;

    text-align: left;
  }

  .collection__button {
    margin-left: 16.4473%;
  }
}

@media (min-width: $desktop-width) {
  .collection {
    max-width: 73.125em;
    margin: 0 auto;

    background-image: repeating-linear-gradient(135deg, $faded-color 0%, $faded-color 0.125em, $body-bg-color 0.125em, $body-bg-color 1.625em);

    &::after {
      width: 59.829%;
      padding-bottom: 31.6239%;

      background-image: url("../img/collection-desktop.jpg");
    }
  }

  .collection__inner {
    width: 40.1709%;
    padding-top: 1.938em;
    padding-bottom: 1.938em;
    padding-right: 4.375em;

    &::before {
      top: 1.938em;
      right: 4.375em;
      bottom: 1.938em;
    }
  }

  .collection__title {
    margin-bottom: 1.281em;
    padding-left: 17.5%;
    padding-right: 21.2765%;
  }

  .collection__description {
    margin-top: 1.944em;
    margin-bottom: 0.444em;
    padding-left: 17.5%;
    padding-right: 21.2765%;
  }

  .collection__button {
    margin-left: 17.5%;
  }
}
