.item {
  position: relative;

  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
}

.item__title {
  flex-shrink: 0;
  flex-basis: auto;

  margin: 0;
  margin-bottom: 0.188em;

  font: inherit;
}

.item__link {
  display: block;

  color: inherit;
  text-decoration: none;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    text-decoration: underline;

    @include hover-transition();
  }

  &[href]:active {
    text-decoration: none;
    text-shadow: 0 0 1px $body-color;

    opacity: 0.8;
  }

  &[href]::after {
    content: "";

    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.item__price {
  flex-shrink: 0;
  flex-basis: auto;

  margin: 0;

  font-family: $body-font-family-700-800;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.143em;
}

.item__illustration {
  position: relative;

  flex-shrink: 0;
  flex-basis: auto;
  order: -1;

  width: 100%;
  height: 0;
  margin: 0;
  margin-bottom: 0.688em;
  padding-bottom: 123.0769%;

  &--negative-mt,
  .products__item--categories:nth-child(4n) & {
    margin-top: -26.1538%;
  }

  &--short,
  .products__item--categories:nth-child(4n+2) &,
  .products__item--categories:nth-child(4n+3) & {
    padding-bottom: 96.923%;
  }

  &--large,
  .products__item--catalog:nth-child(9n+5) &,
  .products__item--large & {
    padding-bottom: 152.4137%;
  }
}

@supports (aspect-ratio: 13 / 16) {
  .item__illustration {
    height: auto;
    padding-bottom: 0;
    aspect-ratio: 13 / 16;

    &--short,
    .products__item--categories:nth-child(4n+2) &,
    .products__item--categories:nth-child(4n+3) & {
      padding-bottom: 0;
      aspect-ratio: 65 / 63;
    }

    &--large,
    .products__item--catalog:nth-child(9n+5) &,
    .products__item--large & {
      padding-bottom: 0;
      aspect-ratio: 145 / 221;
    }
  }
}

.item__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .item__title {
    margin-bottom: 0.333em;

    font-size: 1.125em;
    line-height: 1.313em;
  }

  .item__price {
    font-size: inherit;
    line-height: inherit;
  }

  .item__illustration {
    margin-bottom: 1.25em;
    padding-bottom: 107.716%;

    &--negative-mt,
    .products__item--categories:nth-child(4n) & {
      margin-top: -18.2098%;
    }

    &--short,
    .products__item--categories:nth-child(4n+2) &,
    .products__item--categories:nth-child(4n+3) & {
      padding-bottom: 89.5061%;
    }

    &--catalog {
      padding-bottom: 135.4368%;
    }

    &--large,
    .products__item--catalog:nth-child(9n+5) &,
    .products__item--large & {
      padding-bottom: 152.0362%;
    }
  }

  @supports (aspect-ratio: 324 / 349) {
    .item__illustration {
      padding-bottom: 0;
      aspect-ratio: 324 / 349;

      &--short,
      .products__item--categories:nth-child(4n+2) &,
      .products__item--categories:nth-child(4n+3) & {
        padding-bottom: 0;
        aspect-ratio: 162 / 145;
      }

      &--catalog {
        padding-bottom: 0;
        aspect-ratio: 206 / 279;
      }

      &--large,
      .products__item--catalog:nth-child(9n+5) &,
      .products__item--large & {
        padding-bottom: 0;
        aspect-ratio: 221 / 336;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .item__illustration {
    padding-bottom: 129.2592%;

    &--negative-mt,
    .products__item--categories:nth-child(4n) & {
      margin-top: 0;
    }

    &--short,
    .products__item--categories:nth-child(4n+2) &,
    .products__item--categories:nth-child(4n+3) & {
      padding-bottom: 107.4074%;
    }

    &--catalog {
      padding-bottom: 111.1111%;
    }

    &--large,
    .products__item--catalog:nth-child(9n+5) &,
    .products__item--large & {
      padding-bottom: 121.3768%;
    }
  }

  @supports (aspect-ratio: 270 / 349) {
    .item__illustration {
      padding-bottom: 0;
      aspect-ratio: 270 / 349;

      &--short,
      .products__item--categories:nth-child(4n+2) &,
      .products__item--categories:nth-child(4n+3) & {
        padding-bottom: 0;
        aspect-ratio: 27 / 29;
      }

      &--catalog {
        padding-bottom: 0;
        aspect-ratio: 9 / 10;
      }

      &--large,
      .products__item--catalog:nth-child(9n+5) &,
      .products__item--large & {
        padding-bottom: 0;
        aspect-ratio: 276 / 335;
      }
    }
  }
}
