.page-header--index {
  background-color: $second-bg-color;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.page-header__logo {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 33.333%;
  margin-left: auto;
  padding: 0.833em 0.625em 0.583em;

  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.167em;
  text-align: center;
  text-decoration: none;
  color: inherit;

  &--index {
    width: 100%;
    padding-top: 0.625em;

    background-color: $body-bg-color;
  }

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    text-decoration: underline;

    @include hover-transition();
  }

  &[href]:active {
    text-decoration: none;
    text-shadow: 0 0 0.063em $body-color;

    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) {
  .page-header--index {
    overflow-x: hidden;
  }

  .page-header__wrapper--index {
    padding-bottom: 1.125em;
  }

  .page-header__logo {
    width: 20%;
    margin-left: 0;
    padding: 0.833em 1em 0.792em;

    &--index {
      position: relative;
      z-index: 15;

      width: 20%;
      margin: 0 auto;
    }

    &--index::before {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 50%;

      margin-left: -50vw;
      margin-right: -50vw;

      background-color: $body-bg-color;
    }
  }

  .page-header__user-tools {
    margin-left: auto;
  }

  .page-header__skip {
    margin-right: auto;
  }

  .page-header__socials {
    margin: 0;
    margin-left: auto;
  }

  @supports (display: grid) {
    .page-header__wrapper--index {
      display: grid;
      grid-template-columns: [nav-start call-start skip-start] minmax(0, 1fr) [nav-end skip-end tools-start socials-start] minmax(0, 1fr) [call-end tools-end socials-end];
      grid-template-rows: [nav-start tools-start] min-content [call-start] 1.875em [nav-end tools-end] minmax(21.813em, auto) [call-end skip-start socials-start] min-content [skip-end socials-end];
    }

    .page-header__user-tools--index {
      margin: 0;
    }

    .page-header__skip {
      margin: 0;
    }

    .page-header__socials {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper--index {
    position: relative;

    min-height: 38.563em;
    padding-bottom: 0;
  }

  .page-header__skip {
    margin-bottom: 1.813em;
  }

  .page-header__socials {
    margin-bottom: 1.813em;
  }

  @supports (display: grid) {
    .page-header__wrapper--index {
      position: static;

      grid-template-columns: [nav-start skip-start] minmax(0, 1fr) [nav-end skip-end call-start] minmax(0, 8fr) [call-end tools-start socials-start] minmax(0, 1fr) [tools-end socials-end];
      grid-template-rows: [nav-start call-start tools-start] auto [nav-end tools-end skip-start socials-start] auto [call-end skip-end socials-end];

      min-height: 0;
    }
  }
}
