.page-title {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .page-title {
    position: static;

    flex-shrink: 0;
    flex-basis: auto;
    order: 2;

    width: 85.4519%;
    height: auto;
    margin: 0;
    margin-bottom: 0.429em;
    padding: 0 0.536em;

    font-family: $body-font-family-700-800;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.179em;
    white-space: normal;

    clip-path: none;
    clip: auto;
    overflow: visible;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    width: 66.666%;
    margin-bottom: 0.25em;
    padding: 0 0.469em;
    padding-right: 8.333%;

    font-size: 2em;
    line-height: 1.25;
  }
}
