.products {
  margin-top: 3.375em;
  margin-bottom: 3.75em;

  &--catalog {
    margin-top: 2.5em;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 1.308em;
  padding: 0 0.577em;

  @include title-font();
}

.products__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  @include fix-list();

  &--catalog {
    margin-bottom: 0.813em;
  }
}

.products__item {
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;

  width: 50%;
  margin-bottom: 1.688em;
  padding: 0 0.938em;

  &--categories {
    margin-bottom: 1.438em;
  }

  &--large,
  &--catalog:nth-child(9n+5) {
    width: 100%;
  }
}

.products__view-all {
  padding: 0 0.938em;

  text-align: center;
}

.products__link {
  display: inline-block;
  max-width: 100%;
  padding: 0.375em 0.188em 0.188em;

  color: inherit;
  text-decoration: none;
  vertical-align: top;

  background-image: linear-gradient(to top, $body-color 0, rgba($body-color, 0) 0.188em);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 100%;

  cursor: pointer;

  &:hover,
  &:focus {
    background-image: none;
    box-shadow: 0 0.2em 0 rgba($body-color, 0.8);

    @include hover-transition();
  }

  &:active {
    text-shadow: 0 0 0.063em $body-color;

    background-image: linear-gradient(to top, $jeans-color 0, rgba($jeans-color, 0) 0.188em);
    box-shadow: none;
  }
}

.products__showing {
  padding: 0 0.938em;

  text-align: center;
}

.products__count {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  margin-bottom: 1.875em;
  padding: 0.375em 0.188em 0.688em;

  vertical-align: top;

  background-image: linear-gradient(to top, $body-color 0, rgba($body-color, 0) 0.188em), linear-gradient(to top, $showing-bg-color 0, rgba($showing-bg-color, 0) 0.188em);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 50% 100%;
  background-size: 19.774% 100%, 100% 100%;
}

.products__button {
  margin: 0 auto;
}

@supports (display: grid) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 1.688em;

    padding-bottom: 1.688em;

    &--categories {
      grid-row-gap: 1.438em;

      padding-bottom: 1.438em;
    }
  }

  .products__item {
    width: auto;
    margin: 0;

    &--categories {
      margin: 0;
    }

    &--large,
    &--catalog:nth-child(9n+5) {
      grid-column-start: span 2;

      width: auto;
    }
  }
}

@media (min-width: $greater-mobile-width) {
  .products__list {
    max-width: $greater-mobile-width;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5.875em;
    margin-bottom: 3.125em;

    &--catalog {
      margin-top: 1.5em;
    }
  }

  .products__title {
    flex-shrink: 0;
    flex-basis: auto;
    order: 1;

    width: 75%;
    margin-bottom: 1.893em;
    padding: 0 0.536em;
  }

  .products__list {
    flex-shrink: 0;
    flex-basis: auto;
    order: 3;

    width: 100%;
    max-width: 100%;

    &--catalog {
      margin-bottom: 0;
    }
  }

  .products__item {
    margin-bottom: 2.875em;

    &--categories {
      margin-bottom: 2.438em;
    }

    &--catalog {
      width: 33.333%;
    }

    &--large,
    &--catalog:nth-child(9n+5) {
      width: 66.666%;
    }
  }

  .products__view-all {
    flex-shrink: 0;
    flex-basis: auto;
    order: 2;

    width: 25%;
    margin-bottom: 3.313em;

    text-align: right;
  }

  .products__link {
    padding-top: 0;
    padding-left: 0.278em;
    padding-right: 0.278em;

    font-size: 1.125em;
    line-height: 1.313em;
  }

  .products__showing {
    flex-shrink: 0;
    flex-basis: auto;
    order: 4;

    width: 100%;
    padding: 0;
  }

  .products__count {
    padding-top: 0.375em;

    font-size: 1.125em;
    line-height: 1.167em;
  }

  @supports (display: grid) {
    .products__list {
      grid-row-gap: 2.875em;

      padding-bottom: 2.875em;

      &--categories {
        grid-row-gap: 2.438em;

        padding-bottom: 2.438em;
      }

      &--catalog {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    .products__item {
      width: auto;
      margin: 0;

      &--categories {
        margin: 0;
      }

      &--catalog {
        width: auto;
      }

      &--large,
      &--catalog:nth-child(9n+5) {
        grid-row-start: span 2;

        width: auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-top: 7.563em;
    margin-bottom: 4.813em;

    &--categories {
      margin-bottom: 4.375em;
    }

    &--catalog {
      margin-top: 2.438em;
    }
  }

  .products__title {
    margin-bottom: 1.969em;
    padding: 0 0.469em;
  }

  .products__list--catalog {
    width: calc(100% + 2.25em);
    margin-left: -1.125em;
    margin-right: -1.125em;
  }

  .products__item {
    width: 25%;
    margin-bottom: 3em;

    &--categories {
      margin-bottom: 3em;
    }

    &--categories:nth-child(4n+3) {
      position: relative;
      left: 25%;
    }

    &--categories:nth-child(4n+4) {
      position: relative;
      left: -25%;
    }

    &--catalog {
      width: calc(25% - 2.25em);
      margin-left: 1.125em;
      margin-right: 1.125em;
      margin-bottom: 3.875em;
    }

    &--large,
    &--catalog:nth-child(9n+5) {
      width: calc(50% - 2.25em);
    }
  }

  .products__view-all {
    margin-bottom: 3.938em;
    padding-top: 0.25em;
  }

  .products__showing {
    padding-bottom: 3.313em;
  }

  .products__count {
    margin-bottom: 1.722em;
  }

  @supports (display: grid) {
    .products__list {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-row-gap: 3em;

      padding-bottom: 3em;

      &--categories {
        grid-auto-flow: dense;
        grid-row-gap: 3em;

        padding-bottom: 3em;
      }

      &--catalog {
        grid-auto-flow: dense;
        grid-row-gap: 3.875em;
        grid-column-gap: 2.25em;

        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 3.875em;
      }
    }

    .products__item {
      width: auto;
      margin-bottom: 0;

      &--categories {
        margin-bottom: 0;
      }

      &--categories:nth-child(4n+3) {
        grid-column: 4;

        position: static;
        left: auto;
      }

      &--categories:nth-child(4n+4) {
        grid-column: 3;

        position: static;
        left: auto;
      }

      &--catalog {
        width: auto;
        margin: 0;
      }

      &--large,
      &--catalog:nth-child(9n+5) {
        grid-column: 3 / 5;

        width: auto;
      }

      &--catalog:nth-child(9n+6) {
        grid-column: 1;
      }

      &--catalog:nth-child(9n+7) {
        grid-column: 2;
      }

      &--catalog:nth-child(9n+8) {
        grid-column: 1;
      }

      &--catalog:nth-child(9n+9) {
        grid-column: 2;
      }
    }
  }
}
