.user-tools {
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;

  width: 33.333%;
}

@media (min-width: $tablet-width) {
  .user-tools {
    width: 25%;
  }

  @supports (display: grid) {
    .user-tools--index {
      grid-area: tools;
      justify-self: end;

      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-tools--index {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;

    width: 10%;
    padding-top: 1.875em;
  }

  @supports (display: grid) {
    .user-tools--index {
      justify-self: stretch;
      align-self: start;

      width: auto;
    }
  }
}
