@mixin fix-list() {
  list-style: none;

  & li::before {
    content: "\200B";

    position: absolute;
  }
}

@mixin break-word() {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin hover-transition() {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
