$greater-mobile-width: 25rem;
$tablet-width: 48rem;
$desktop-width: 85.375rem;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$body-font-family-400-500: "Work Sans", "Verdana", sans-serif;
$body-font-family-700-800: "Work Sans", "Tahoma", sans-serif;
$denim-font-family: "Anton", "Impact", sans-serif;

$body-color: #151c22;
$faded-color: #727a82;
$jeans-color: #3b6392;

$body-bg-color: #ffffff;
$second-bg-color: #f1f2f4;
$showing-bg-color: #e5e5e5;
