$tablet-width: 48rem;
$desktop-width: 85.375rem;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$body-font-family: "Work Sans", "Verdana", sans-serif;
$denim-font-family: "Anton", "Impact", sans-serif;

$body-color: #151c22;
$second-color: #ffffff;
$faded-color: #727A82;


$body-bg-color: #e5e5e5;
$second-bg-color: #f1f2f4;
